.DS_Store
\.idea
# *.blend*
__pycache__
*.blend
*wfc_dev.blend1
addons/blender-wfc/wfc_dev.blend

addons/blender-wfc/wfc_dev_mac.blend1

addons/blender-wfc/wfc_dev_mesh_gen.blend1
.vscode/settings.json
.*settings.json
